@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#kitkat #intro{
  height: 500px;
  width: 100%;
  background: white;
}

#kitkat .boatr{
  font-family: 'Poppins', sans-serif;
  min-height:100vh;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);

}
#kitkat .container{
  width:100%;
  max-width: 1140px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

#kitkat .swiper{
  padding-top: 50px;
  
}

#kitkat .swiper-wrapper{
  display: flex;
}

#kitkat .swiper figure{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: ease .4s;
}
#kitkat .swiper figure img{
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0,.15);
  transition: ease .4s;
}
#kitkat .swiper figure blockquote,
#kitkat .swiper figure figcaption
{
  font-size: 16px;
  margin-bottom: 20px;
}

#kitkat .swiper figure blockquote .fa{
  align-self:center;
  display: block;
  font-size: 36px;

}

#kitkat .swiper figure figcaption{
  font-size: 28px;
  font-weight: 700;
}

#kitkat .swiper figure:hover{
  transform: translateY(-10px);


}

#kitkat .swiper figure:hover img{
  transform: scale(1.1);
}

#kitkat .swiper .swiper-pagination{
  position:relative;
  bottom: inherit;
  margin-top: 40px;
  display:flex;
  align-items: center;
  justify-content: center;
}
#kitkat .swiper .swiper-pagination .swiper-pagination-bullet-active{
  width:12px;
  height: 12px;
  background: #000;

}








